{% set message = 'Are you sure you want to REMOVE link #'~link.id~' ?' %}
<a class="btn btn-danger" href="{{ path('link_delete', {'id': link.id}) }}" onclick="return confirm('{{ message }}')">Remove link</a>