{% extends 'base.html.twig' %}

{% block body %}
    <h1>Link edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('link_index') }}">Back to the list</a>
        </li>
        <li>
            {% include '@App/Link/delete_form.html.twig' with {'link': link} %}
        </li>
    </ul>
{% endblock %}
